.box {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    background-color: #7770;
    /*border: solid 1px black;*/
}
.grid {
    display: grid;
    width: 500px;
    height: 1000px;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-template-columns: repeat(auto-fill, 50px);
    margin: 0 auto;
    border: solid 1px black;
}
.filled{
    background-color: aqua !important;
}